<!DOCTYPE html>
<html>
  <head>
    <title>SFT: Secure File Transfer</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <main>
      <h1 class="page-title">Select a file to send</h1>
      <form
        class="send-form"
        action="/send"
        method="POST"
        enctype="multipart/form-data"
      >
      
        <select name="selected_user">
            {% for user in active_users %}
            <option value="{{ user.userIp }}">{{ user.userName }}</option>
            {% endfor %}
        </select>

        <!-- <input
          type="text"
          name="receiver_ip"
          placeholder="Enter IP address"
        /> -->
        <input
          type="file"
          name="file"
        />
        <br /><br />
        <input
          type="submit"
          value="Send"
        />
      </form>
    </main>
  </body>
  <script>
    const redirectToReceive = () => {
      window.location.href = "/receive";
    };

    const redirectToSend = () => {
      window.location.href = "/send_files";
    };
  </script>
</html>
